.page-container {
  display: flex;
  flex-direction: column;
  color: #232324;
}

.post-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 80%;
}

.post .headline {
  font-size: 4em ;
  padding: 50px;
  padding-bottom: 0;
  font-weight: bold;
  margin: 0;
  color:#322787;
}

.post .lead, .post .message {
  padding: 50px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #665cb8;
}

.post .writer-time-container {
  padding: 50px;
  padding-top: 0;
  padding-bottom: 30px;
  font-size: 1.1em;
  color: #665cb8;
  border-bottom: 1px groove #665cb8;
}

.post .writer-time-container .writer-name, .post .writer-time-container .post-time {
  margin: 7px 0px ;
}

.post .writer-time-container .writer-name {
  font-weight: bold;
}

.post .writer-time-container .post-time {
  font-size: 0.9em;
}

.post .image-container {
  box-sizing: border-box;
  padding: 0px 90px;
  padding-top: 50px;
  width: 100%;
  height: 500px;
  display: flex;
}

.post .image {
  width: 100%;
  flex-grow: 1;
  background-size: cover;
}

.post .message {
  padding: 90px
}

.post-container .pointers-container {
  box-sizing: border-box;
  height: 180px;
  width: 80%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-container .pointers-container .previous-container,
.post-container .pointers-container .next-container {
  flex: 1;
  height: 100%;
}
.previous-container, .next-container {
  display: flex;
  flex-direction: column
}
.inside-content {
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  /* width: 100%; */
  flex-grow: 1;
  border-top: 1px solid #232324;
  border-bottom: 1px solid #232324;
  cursor: pointer;
}

.right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.inside-content .img-container {
  box-sizing: border-box;
  flex: 1;
  padding: 20px;
}

.inside-content .img-container .image {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  background-size: cover;
}

.inside-content .preview-data {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 20px;
  padding-left: 0;
}

.inside-content .preview-data .time-span {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 12px;
  color:#665cb8;
}

.inside-content .preview-data .preview-headline {
  color:#322787;
  transition: font-size 0.2s;
  font-size: 1.15em;
}

.preview-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #232324;

}

.preview-headline:hover {
  font-size: 1.2em;
  text-decoration: underline;
  color: #232324;
}

